# This .gitignore file should be placed at the root of your repository
# and will apply to both sub-projects.

# Ignore for AdventureKnowledge project
/AdventureKnowledge/[Ll]ibrary/
/AdventureKnowledge/[Tt]emp/
/AdventureKnowledge/[Oo]bj/
/AdventureKnowledge/[Bb]uild/
/AdventureKnowledge/[Bb]uilds/
/AdventureKnowledge/[Ll]ogs/
/AdventureKnowledge/[Uu]ser[Ss]ettings/
/AdventureKnowledge/[Mm]emoryCaptures/
/AdventureKnowledge/[Rr]ecordings/
/AdventureKnowledge/[Aa]ssets/Plugins/Editor/JetBrains*
/AdventureKnowledge/.vs/
/AdventureKnowledge/.gradle/
/AdventureKnowledge/ExportedObj/
/AdventureKnowledge/.consulo/
/AdventureKnowledge/*.csproj
/AdventureKnowledge/*.unityproj
/AdventureKnowledge/*.sln
/AdventureKnowledge/*.suo
/AdventureKnowledge/*.tmp
/AdventureKnowledge/*.user
/AdventureKnowledge/*.userprefs
/AdventureKnowledge/*.pidb
/AdventureKnowledge/*.booproj
/AdventureKnowledge/*.svd
/AdventureKnowledge/*.pdb
/AdventureKnowledge/*.mdb
/AdventureKnowledge/*.opendb
/AdventureKnowledge/*.VC.db
/AdventureKnowledge/*.pidb.meta
/AdventureKnowledge/*.pdb.meta
/AdventureKnowledge/*.mdb.meta
/AdventureKnowledge/sysinfo.txt
/AdventureKnowledge/*.apk
/AdventureKnowledge/*.aab
/AdventureKnowledge/*.unitypackage
/AdventureKnowledge/*.app
/AdventureKnowledge/crashlytics-build.properties
/AdventureKnowledge/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/AdventureKnowledge/[Aa]ssets/[Ss]treamingAssets/aa.meta
/AdventureKnowledge/[Aa]ssets/[Ss]treamingAssets/aa/*
/AdventureKnowledge/*.so
/AdventureKnowledge/*.dll
/AdventureKnowledge/*.dylib
/AdventureKnowledge/*.a
/AdventureKnowledge/*.bundle
/AdventureKnowledge/GeneratedLocalRepo/
/AdventureKnowledge/ExternalDependencyManager/
/AdventureKnowledge/Firebase/
/AdventureKnowledge/GooglePlayGames/
/AdventureKnowledge/ParrelSync-master/
/AdventureKnowledge/Photon/
/AdventureKnowledge/Plugins/*.dll
/AdventureKnowledge/Plugins/*.pdb

# Ignore for Myproject project
/Myproject/[Ll]ibrary/
/Myproject/[Tt]emp/
/Myproject/[Oo]bj/
/Myproject/[Bb]uild/
/Myproject/[Bb]uilds/
/Myproject/[Ll]ogs/
/Myproject/[Uu]ser[Ss]ettings/
/Myproject/[Mm]emoryCaptures/
/Myproject/[Rr]ecordings/
/Myproject/[Aa]ssets/Plugins/Editor/JetBrains*
/Myproject/.vs/
/Myproject/.gradle/
/Myproject/ExportedObj/
/Myproject/.consulo/
/Myproject/*.csproj
/Myproject/*.unityproj
/Myproject/*.sln
/Myproject/*.suo
/Myproject/*.tmp
/Myproject/*.user
/Myproject/*.userprefs
/Myproject/*.pidb
/Myproject/*.booproj
/Myproject/*.svd
/Myproject/*.pdb
/Myproject/*.mdb
/Myproject/*.opendb
/Myproject/*.VC.db
/Myproject/*.pidb.meta
/Myproject/*.pdb.meta
/Myproject/*.mdb.meta
/Myproject/sysinfo.txt
/Myproject/*.apk
/Myproject/*.aab
/Myproject/*.unitypackage
/Myproject/*.app
/Myproject/crashlytics-build.properties
/Myproject/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/Myproject/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Myproject/[Aa]ssets/[Ss]treamingAssets/aa/*
/Myproject/*.so
/Myproject/*.dll
/Myproject/*.dylib
/Myproject/*.a
/Myproject/*.bundle
/Myproject/GeneratedLocalRepo/
/Myproject/ExternalDependencyManager/
/Myproject/Firebase/
/Myproject/GooglePlayGames/
/Myproject/ParrelSync-master/